.add-match-container {
  background-color: #000;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.team-inputs {
  margin-bottom: 30px;
}

.team {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  background-color: #2196f3;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 10px;
}

.goals-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.goals {
  color: #fff;
  font-size: 24px;
  padding: 20px;
  background-color: #1976d2;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  flex-basis: 45%;
  margin-right: 10px;
}

.play-match-button {
  font-size: 20px;
  padding: 20px 40px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-match-button:hover {
  background-color: #d32f2f;
}

