/* App.css */

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00c0fa;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  background-color: #fff;
  color: #333;
  border-radius: 3px;
}

/* Content styles */
.app {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
  /* Set the background image and adjust properties as needed */
  background-image: url('./pl.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.app h2 {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 44px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #afeeee;
  
}

.card:last-child {
  margin-right: 0;
}

/* Points table styles */
.points-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.points-table th,
.points-table td {
  padding: 10px;
  text-align: center;
}

.points-table th {
  background-color: #333;
  color: #fff;
}

.points-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.points-table tbody tr:hover {
  background-color: #ddd;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0 20px;
  }
}
